.Header {
  text-align: left;
  padding: 0 70px;
  border-bottom: 1px solid rgb(236, 232, 232);
}
.Home {
  text-align: left;
  padding: 0 70px;
}
.navbar{
  min-height: 15vh;
  padding: 30px 0;
  
}
.introtext{
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin-top: 3rem;
}
.subtext{
  font-weight: 200;
  font-size: 24px;
  
}
h1,h4{
  max-width: 880px;
  line-height: 1.8;
}

.card{
  border: none;
  margin-top: 1.8rem;
  max-width: 40rem;
 
}
.card-group{
  justify-content: space-between;
  margin-bottom: 3rem;
}

.card-title{
  font-size: 24px;
  font-weight: 700;
}
.card-text{
  font-size: 14px;
}

@media screen and (max-width:724px){
  .Header, .Home{
    padding: 0 20px;
  }
  .introtext{
    font-size: 42px;
  }
}
.nav-link{
  font-family: 'Work Sans' !important;
  font-weight: 700 !important;
}

a.nav-link.active{
  color:#fa668b !important;
}